body {
	background-color: white;
	color: #111111;
}

img {
	height: auto;
	object-fit: contain;
	vertical-align: middle;
}

p, td {
	font-size: 12px;
	font-weight: 300;
	color: #111111;
	margin: 3px 0;
}

.logo {
	max-width: 180px;
	margin-left: 10px;
}

.title {
	color: #faaf04;
	font-size: 32px;
	font-weight: 700;
	margin: 10px 0 20px;
	text-align: center;
}

.header {
	margin-bottom: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.small {
	font-size: 10px;
	font-weight: 300;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

h3 {
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0 0;
}

th {
	background-color: #BABABA;
}

tr th:first-child, tr td:first-child {
	width: 50%;
}

td, th {
	border: 1px solid #dddddd;
}

tr:nth-child(odd) {
	background-color: #EEEEEE;
}

td {
	text-align: right;
	padding: 2px 4px;
}

td:first-child {
	text-align: center;
}

.total {
	background-color: #BABABA;
}